.counter {
    color: white;
    background: transparent;
    font-size: 50px;
    background-color: #30336b;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}